<h1>Minhas Reservas</h1>

<% if @reservas.any? %>
<table>
  <thead>
  <tr>
    <th>Data de Entrada</th>
    <th>Data de Saída</th>
    <th>Quarto</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @reservas.each do |reserva| %>
  <tr>
    <td><%= reserva.data_entrada %></td>
    <td><%= reserva.data_saida %></td>
    <td><%= reserva.quarto.numero %></td>
    <td><%= reserva.status %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p>Você não possui reservas no momento.</p>
<% end %>
